body {
    @include RubikFont;
    font-size: 14px;
    line-height: 1.428571429;
    width: 100%;
    color: $davys_grey;
    font-weight: 400;
    background: $raisin_black;

    &::-webkit-scrollbar-track {
        background-color: $dark_chacoral;
    }

    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        background-color: $dark_chacoral;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $black_700;
        background-image: $black_700;
    }

    &:not(.common-home) {
        .label_new {
            display: none;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include PrataFront;
    color: $white;
    line-height: 1.35;
}

h4 {
  font-size: 15px;
}

h5 .h5 {
    font-size: 14px;
}

/** Lists */
ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

/** Label */
label {
    font-size: 13px;
    font-weight: normal;
}

/** Icons */
.fa {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: $davys_grey;
  cursor: pointer;

  &:hover {
    color: $davys_grey;
    text-decoration: none;
  }
}

.rating {
  justify-content: flex-start !important;

  .star-container {
    margin-left: 0px !important;

    .star {
      width: 15px;
      height: 15px;
    }
  }
}

nav {
  display: block;
}
