/** Colors */
// Grey
$davys_grey: #5a5a5a !default;
$onyx: #393939 !default;

// Black
$raisin_black: #242424 !default;
$dark_charcoal: #333333 !default;
$black-087: #000000de !default;

// Brown
$bistre_brown: #a8741a !default;

// Red
$electric_red: #F00000 !default;

// White
$white: #ffffff !default;

// Gray
$gray: #808080 !default;
$spanish_gray: #999999 !default;
