/** Fonts */
$rubik: "Rubik", sans-serif;
$prata: "Prata", serif;

/** Color */
// Grey
$davys_grey: #5a5a5a;
$davys_grey_light: #56595e;
$dark_chacoral: #2e2e2e;
$dark_charcoal: #333333;
$dark_charcoal_180: #2f2f2f;
$jet: #343434;
$onyx: #373b41;

// Black
$raisin_black: #242424;
$black_700: rgba(0, 0, 0, 0.07);
$black: #000000;

// Green
$charleston_green: #2d2d2d;

// White
$white: #ffffff;

// Brown
$bistre_brown: #a8741a;

// Blue
$celestial_blue: #509abd;

// Gray
$gray: #000000;
$granite_gray: #616161;

// Silver
$sonic_silver: #777777;
