<app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>

<!-- Checkout -->
<div class="container" id="checkout-checkout">
    <div class="row">
        <div class="col-sm-12" id="content">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4
                            class="panel-title accordion-toggle"
                            data-toggle="collapse"
                            data-parent="#accordion"
                            aria-expanded="true"
                        >
                            Paso 2: Cuenta y datos de entrega
                        </h4>
                    </div>
                    <div
                        class="panel-collapse collapse in"
                        id="collapse-payment-address"
                        aria-expanded="true"
                    >
                      <div class="panel-body">
                        Hola Holas
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
